<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Regression Web App</title>
</head>
<body>
    <h1>Linear Regression Prediction</h1>
    <p>This is a simple web app that demonstrates how to use a linear regression model to predict a value based on a single input feature.</p>
    <p>Please upload a CSV file for analysis:</p>
    <p>This CSV file should contain two columns with headers. The first should be the x column and the next should be the y column. </p>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <label for="file">Upload CSV:</label>
        <input type="file" id="file" name="file" accept=".csv">
        <input type="submit" value="Predict">
    </form>
    <form action="/test" method="post" enctype="multipart/form-data">
        <label for="file">Upload CSV:</label>
        <input type="file" id="file" name="file" accept=".csv">
        <input type="submit" value="Test">
    </form>
</body>
</html>